a {
	color:#BBE;
}
h3 {
	margin:0;
}

.chat-entry {
	margin-top:1px;
	color:white;
}
.chat-user, .chat-message, .chat-time {
	font-size:16px;
	margin-bottom:4px;
	background-color:rgba(0, 0, 0, 0.6);
}

.msg-highlight {
	font-size:16px;
}
.chat-time {
	color:#CCC;
	font-size:12px;
}
.chat-user {
	color:#BA7;
}
.chat-message {
}


.about > a, .mini-tutorial > a {
	margin:0;
	height:10px;
}
.about,
.mini-tutorial {
	color:#DCA;
	font-size:14px;
}

span.notice {
	color:white;
}


.titletext {
	font-size:16px;
	vertical-align:bottom;
}
.titletext, .titletext a {
	color:white;
	text-decoration:none;
	outline:none;
}

.titletext a[href="#connected"] {
	text-decoration:underline;
}
.titletext a[href="#dimensions"] {
	color:#50C850;
}
.titletext span[href="#layerframe"] {
	color:#C8C8C8;
}
