a {
	color:#BBE;
}

.chat-entry {
	font-size:15px;
	margin-top:1px;
	color:white;
	background:rgba(0, 0, 0, 0.6);
}
.chat-user, .chat-message {
	font-size:13px;
	margin-bottom:4px;
}
.msg-highlight {
	font-size:16px;
}
.chat-user {
	background-color:#B1A087;
}
.chat-message {
	background-color:transparent;
}

.about .alpha-notice {
	color:white;
}

.titletext {
	vertical-align:bottom;
}
.titletext, .titletext a {
	color:white;
	text-decoration:none;
	font-size:16px;
	outline:none;
}

.titletext a[href="#connected"] {
	text-decoration:underline;
	outline:none;
}
.titletext a[href="#dimensions"] {
	font-size:13px;
	color:rgb(80, 200, 80);
}
.titletext span[href="#layerframe"] {
	font-size:12px;
	color:rgb(200, 200, 200);
}
