
/* TODO work on this */

p {
	font-size:13px;
	margin:5px 0;
	color:white;
	background-color:rgba(0, 0, 0, 0.6);
}

a {
	color:#BBE;
}

.user {
	background-color:#B1A087;
}


titletext {
	color:white;
	font-size:18px;
}

titletext a[href="#name"] {
	font-size:16px;
	color:rgb(200, 80, 80);
	margin:10px;
	padding:10px;
}

titletext a[href="#dim"] {
	font-size:13px;
	color:rgb(80, 200, 80);
}
titletext flayer {
	font-size:12px;
	color:rgb(200, 200, 200);
}
